@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  color: white;
  font-family: "Inconsolata", monospace;
  text-transform: capitalize;
}
body {
  background-color: #151320;
}
a {
  text-decoration: none;
}
.header {
  text-align: center;
  margin: 1rem;
}
.underline {
  width: 6rem;
  height: 0.25rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.section {
  margin: 1rem 1rem;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1rem;
}
.card {
  width: 100%;
  background-color: #1c1b29;
  border-radius: 0.7rem;
}
.card:hover {
  transform: scale(1.05);
  transition: all 0.2 ease-in;
}
.image {
  display: block;
  width: 100%;
  border-radius: 0.7rem 0.7rem 0 0;
}
.title {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  letter-spacing: 0.1rem;
}
